{% extends "base.html" %}

{% block tilte %}Login{% endblock %}
<!--
{% block messageGrey %}
{{session["name"]}} logged out!
{% endblock %}
-->

{% block content %}
<form class="login-form" action="#" method="POST">
      <input type="text" name="inputName" id="inputName" placeholder="Your Name"/>
      <button type="submit" class="btn btn-success mb-2">Submit</button>
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}